.personal_body {
  background-color: #fff;
  box-sizing: border-box;
  padding-bottom: 15.3846vw;
}

.nav_bar {
  background-color: #fff;
  border-bottom: 0.2564vw solid #f6f6f6;
  display: none;
}

.personal_top {
  background-image: url(../images/bg_imgs/personal_top_bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  width: 100%;
  height: 82.0513vw;
  position: relative;
  box-sizing: border-box;
  padding-top: 15.3846vw;
}

.personal_top > .icons {
  position: absolute;
  top: 3.8462vw;
  right: 3.8462vw;
}

.personal_top > .icons .iconfont {
  font-size: 6.1538vw;
  color: #fff;
}

.personal_top > .icons .iconfont:nth-child(1) {
  margin-right: 3.3333vw;
}

.personal_top > .pic_user_msg {
  width: 100%;
  text-align: center;
}

.personal_top > .pic_user_msg > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.personal_top > .pic_user_msg > a > .pic_img {
  width: 100%;
  height: 30.7692vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal_top > .pic_user_msg > a > .pic_img img {
  width: 30.7692vw;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.personal_top > .pic_user_msg > a > .user_name {
  font-size: 4.6154vw;
  font-weight: bold;
  color: #fff;
  margin-top: 3.8462vw;
}

.personal_top > .pic_user_msg > a > .account_phone {
  font-size: 3.0769vw;
  color: #fff;
}

.personal_top > .vip_card {
  width: 100%;
  height: 15.3846vw;
  box-sizing: border-box;
  padding: 0 3.8462vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.personal_top > .vip_card .bg_img {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg_imgs/personal_vip.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  box-sizing: border-box;
  padding-left: 15.3846vw;
  padding-right: 5.1282vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal_top > .vip_card .bg_img .text {
  display: inline-block;
  font-size: 3.0769vw;
  color: #c28c20;
  line-height: 5.1282vw;
}

.personal_top > .vip_card .bg_img .immediately {
  display: block;
  border: none;
  background-color: #c8a869;
  font-size: 3.0769vw;
  color: #fff;
  height: 6.1538vw;
  min-width: 20.5128vw;
  line-height: 6.1538vw;
  text-align: center;
  box-sizing: border-box;
  padding: 0 2.5641vw;
  border-radius: 6.1538vw;
}

.cnt_chunk {
  width: 100%;
  box-sizing: border-box;
  padding: 0 3.8462vw;
  padding-top: 6.4103vw;
}

.cnt_chunk > .card_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnt_chunk > .card_link > .list {
  width: 28.2051vw;
  height: 19.2308vw;
  border-radius: 2.5641vw;
  background-color: red;
  border-top-right-radius: 12.8205vw;
  color: #fff;
  box-sizing: border-box;
  padding-left: 3.8462vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cnt_chunk > .card_link > .list > [class^="myicon-"] {
  position: relative;
}

.cnt_chunk > .card_link > .list > div {
  font-size: 3.5897vw;
  margin-top: 1.2821vw;
  line-height: 5.1282vw;
}

.cnt_chunk > .card_link > .list:nth-child(1) {
  background-image: linear-gradient(#27d5ff, #0091ff);
}

.cnt_chunk > .card_link > .list:nth-child(2) {
  background-image: linear-gradient(#c1a5ff, #6a29d5);
}

.cnt_chunk > .card_link > .list:nth-child(3) {
  background-image: linear-gradient(#f9ea0b, #fb9451);
}

.cnt_chunk > .link_text_lists {
  margin-top: 3.8462vw;
}
