.countryside_body {
  background-color: #f8f8f8;
  background-image: url(../images/bg_imgs/countryside_top_bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  box-sizing: border-box;
  padding-bottom: 15.3846vw;
}

.countryside_search {
  box-sizing: border-box;
  padding: 3.8462vw 3.8462vw 2.5641vw 3.8462vw;
  position: sticky;
  top: 0;
  z-index: 9;
}

.countryside_search.fixed {
  background-image: linear-gradient(#5ecefc, #84d8fb);
}

.icon_text_GongGe {
  width: 100%;
  box-sizing: border-box;
  padding: 3.8462vw 0;
}

.titleCnt_card {
  width: 100%;
}

.titleCnt_card > .list {
  width: 20%;
}

.titleCnt_card > .list:nth-child(-n + 5) {
  margin-top: 0;
}

.titleCnt_card > .list .text {
  font-size: 3.0769vw;
}

.cnt_chunk {
  width: 100%;
  box-sizing: border-box;
  padding: 0 3.8462vw;
  padding-top: 1.2821vw;
}

.shop_swiper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 7.1795vw;
}

.shop_swiper .swiper-container {
  width: 100%;
  height: 100%;
}

.shop_swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.3333vw;
  border-radius: 1.2821vw;
}

.shop_swiper .swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2821vw;
}

.shop_swiper .swiper-pagination {
  bottom: 1.2821vw;
  left: 50%;
  transform: translateX(-50%);
}

.shop_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 2.0513vw;
  height: 2.0513vw;
  margin: 0 0.7692vw;
}

.shop_swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0091ff;
}
