html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  padding-top: 11.5385vw;
  position: relative;
  background-color: #fff;
}

.nav_bar {
  background-color: #fff;
}

.nav_bar .right_bar {
  display: block;
  width: 6.1538vw;
  height: 6.1538vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_bar .right_bar .iconfont {
  font-size: 6.1538vw;
  color: #757575;
}

.nav_bar .center_cnt {
  height: 100%;
  width: 60%;
}

.nav_bar .center_cnt .tab {
  line-height: 10.7692vw;
}

.nav_bar .center_cnt .tab > p {
  font-size: 4.1026vw;
  color: #282828;
}

.nav_bar .center_cnt .tab.active {
  font-weight: normal;
}

.nav_bar .center_cnt .tab.active > p {
  color: #282828;
}

.nav_bar .center_cnt .tab.active .line {
  display: block;
}

.mui-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.data_not {
  background-color: #fff;
}

.task_lists {
  box-sizing: border-box;
  padding: 0 3.8462vw;
}

.text_img_lists {
  box-sizing: border-box;
  padding-top: 3.8462vw;
  background-color: #fff;
}

.text_img_lists .imgs_top {
  width: 100%;
  height: 20.5128vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_img_lists .imgs_top > img {
  width: 32%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2821vw;
}

.text_img_lists > .list {
  display: block;
  margin-top: 3.8462vw;
  border-bottom: 0.2564vw solid #ededed;
  box-sizing: border-box;
  padding-bottom: 2.5641vw;
}

.text_img_lists > .list:first-child {
  margin-top: 0;
}

.text_img_lists .div_oneImg {
  width: 30.7692vw;
  height: 20.5128vw;
  border-radius: 1.2821vw;
}

.text_img_lists .div_oneImg > img {
  border-radius: 1.2821vw;
}
