body {
  padding-top: 11.5385vw;
  position: relative;
  background-color: #f6f6f6;
}

.nav_bar {
  background-color: #fff;
}

.nav_bar .right_bar {
  display: block;
  width: 6.1538vw;
  height: 6.1538vw;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_bar .right_bar .iconfont {
  font-size: 6.1538vw;
  color: #757575;
}

.nav_bar .center_cnt {
  height: 100%;
  width: 80%;
}

.nav_bar .center_cnt .tab {
  line-height: 10.7692vw;
}

.nav_bar .center_cnt .tab > p {
  font-size: 4.1026vw;
  color: #282828;
}

.nav_bar .center_cnt .tab.active {
  font-weight: normal;
}

.nav_bar .center_cnt .tab.active > p {
  color: #282828;
}

.nav_bar .center_cnt .tab.active .line {
  display: block;
}

.consult_cnt {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
}

.data_not {
  background-color: #f6f6f6;
}

.text_img_lists {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding-top: 2.5641vw;
  background-color: #f6f6f6;
}

.text_img_lists .imgs_top {
  width: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.2821vw !important;
}

.text_img_lists .imgs_top > img {
  width: 33%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text_img_lists .imgs_top > .one_big_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text_img_lists > .list {
  display: block;
  margin-top: 2.5641vw;
  background-color: #fff;
}

.text_img_lists > .list:first-child {
  margin-top: 0;
}

.text_img_lists .div_oneImg {
  width: 30.7692vw;
  height: 24.8718vw;
}

.text_img_lists .div_text {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 1.2821vw 2.5641vw;
}
