.shop_body {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(#19bcff, #f6f6f6);
  background-image: -moz-linear-gradient(#19bcff, #f6f6f6);
  background-image: -o-linear-gradient(#19bcff, #f6f6f6);
  background-image: linear-gradient(#19bcff, #f6f6f6);
  background-repeat: no-repeat;
  background-position: top left;
  -o-background-size: 100% 58.9744vw;
     background-size: 100% 58.9744vw;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding-bottom: 15.3846vw;
}

.shop_search {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 3.8462vw 3.8462vw 2.5641vw 3.8462vw;
  position: sticky;
  top: 0;
  z-index: 9;
}

.shop_search.fixed {
  background-image: -webkit-linear-gradient(#19bcff, #f6f6f6);
  background-image: -moz-linear-gradient(#19bcff, #f6f6f6);
  background-image: -o-linear-gradient(#19bcff, #f6f6f6);
  background-image: linear-gradient(#19bcff, #f6f6f6);
  background-repeat: no-repeat;
  background-position: top left;
  -o-background-size: 100% 58.9744vw;
     background-size: 100% 58.9744vw;
}

.shop_search .my-badge-num {
  display: none;
  left: unset;
  right: -1.9231vw;
}

.cnt_chunk {
  width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0 3.8462vw;
  padding-top: 1.2821vw;
}

.cnt_chunk > .pic_card {
  margin-top: 3.8462vw;
}

.cnt_chunk .titleCnt_card:nth-child(2) {
  margin-top: 1.2821vw;
  background-image: -webkit-linear-gradient(#fef2eb, #ffffff);
  background-image: -moz-linear-gradient(#fef2eb, #ffffff);
  background-image: -o-linear-gradient(#fef2eb, #ffffff);
  background-image: linear-gradient(#fef2eb, #ffffff);
}

.cnt_chunk .titleCnt_card:nth-child(2) .iconFlex_card > .list {
  width: 25%;
}

.cnt_chunk .titleCnt_card:nth-child(2) .iconFlex_card > .list:nth-child(-n + 4) {
  margin-top: 0;
}

.cnt_chunk .titleCnt_card:nth-child(2) .iconFlex_card > .list .layout {
  height: 21.5385vw;
}

.cnt_chunk .titleCnt_card:nth-child(2) .iconFlex_card > .list .layout .img_or_icon {
  height: 15.3846vw;
}

.cnt_chunk .titleCnt_card:nth-child(2) .iconFlex_card > .list .layout .img_or_icon img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cnt_chunk .titleCnt_card:nth-child(3) {
  background-image: -webkit-linear-gradient(#fffef4, #ffffff);
  background-image: -moz-linear-gradient(#fffef4, #ffffff);
  background-image: -o-linear-gradient(#fffef4, #ffffff);
  background-image: linear-gradient(#fffef4, #ffffff);
}

.cnt_chunk .titleCnt_card:nth-child(3) .iconFlex_card > .list {
  width: 33.33%;
}

.cnt_chunk .titleCnt_card:nth-child(3) .iconFlex_card > .list:nth-child(-n + 3) {
  margin-top: 0;
}

.cnt_chunk .titleCnt_card:nth-child(3) .iconFlex_card > .list .layout {
  height: 28.2051vw;
}

.cnt_chunk .titleCnt_card:nth-child(3) .iconFlex_card > .list .layout .img_or_icon {
  height: 20.5128vw;
}

.cnt_chunk .titleCnt_card:nth-child(3) .iconFlex_card > .list .layout .img_or_icon img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cnt_chunk .titleCnt_card:nth-child(3) .iconFlex_card > .list .text {
  font-size: 4.1026vw;
  color: #d0021b;
}

.cnt_chunk .titleCnt_card:nth-child(3) .iconFlex_card > .list .text > .small {
  font-size: 3.0769vw;
}

.shop_swiper {
  width: 100%;
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding-bottom: 7.1795vw;
}

.shop_swiper .swiper-container {
  width: 100%;
  height: 100%;
}

.shop_swiper .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33.3333vw;
  border-radius: 1.2821vw;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0 0.2564vw;
}

.shop_swiper .swiper-slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2821vw;
}

.shop_swiper .swiper-pagination {
  bottom: 1.2821vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.shop_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 2.0513vw;
  height: 2.0513vw;
  margin: 0 0.7692vw;
}

.shop_swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0091ff;
}

.tabs_switch {
  width: 100%;
  height: 10.2564vw;
  background-color: transparent;
  position: sticky;
  top: 25.3769vw;
  z-index: 9;
}

.tabs_switch .tab {
  line-height: 9.4872vw;
}

.tabs_switch.fixed {
  background-color: #fff;
}
