body {
  background-color: #fff;
  padding-top: 11.5385vw;
  padding-bottom: 12.8205vw;
}

.nav_bar {
  background-color: #fff;
}

.nav_bar .right_bar {
  font-size: 6.1538vw;
  color: #4a4a4a;
}

.nav_bar .right_bar.icon-31shoucangxuanzhong {
  color: #d0021b;
}

.article_cnt .title {
  color: #000;
  line-height: 7.1795vw;
  text-align: center;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0 3.8462vw;
  font-size: 5.1282vw;
}

.article_cnt .tips {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7f7f7f;
  font-size: 3.0769vw;
  margin-top: 3.8462vw;
}

.article_cnt .tips div {
  margin-left: 3.8462vw;
}

.article_cnt .tips div:first-child {
  margin-left: 0;
}

.article_cnt .detail_cnt {
  border-top: 0.2564vw solid #e5e5e5;
  margin-top: 3.8462vw;
  color: #4a4a4a;
  font-size: 4.1026vw;
  line-height: 6.4103vw;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 3.8462vw 0;
}

.article_cnt .detail_cnt img {
  max-width: 100%;
  margin: 2.5641vw 0;
}

.article_cnt .detail_cnt p {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0 5.1282vw;
}

.bottom_icon {
  border-top: 0.2564vw solid #e5e5e5;
  height: 12.8205vw;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5641vw 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-color: #fff;
}

.bottom_icon > div {
  width: 50%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 0.2564vw solid #e5e5e5;
}

.bottom_icon > div:first-child {
  border-color: #fff;
}

.bottom_icon > div .iconfont {
  font-size: 4.6154vw;
  color: #4a4a4a;
  margin-right: 1.2821vw;
}
