.countryside_body {
  background-color: #f6f6f6;
  background-image: linear-gradient(#19bcff, #f6f6f6);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 58.9744vw;
  box-sizing: border-box;
  padding-bottom: 15.3846vw;
}

.countryside_search {
  box-sizing: border-box;
  padding: 3.8462vw 3.8462vw 2.5641vw 3.8462vw;
  position: sticky;
  top: 0;
  z-index: 9;
}

.countryside_search.fixed {
  background-image: linear-gradient(#19bcff, #f6f6f6);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 58.9744vw;
}

.iconFlex_card > .list {
  width: 20%;
}

.iconFlex_card > .list:nth-child(-n + 5) {
  margin-top: 0;
}

.iconFlex_card > .list .text {
  font-size: 3.0769vw;
}

.cnt_chunk {
  width: 100%;
  box-sizing: border-box;
  padding: 0 3.8462vw;
  padding-top: 1.2821vw;
}

.cnt_chunk > .pic_card {
  margin-top: 3.8462vw;
}

.cnt_chunk > .pic_card:nth-child(1) {
  margin-top: 0;
}
