@charset "UTF-8";
/*图标*/
.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-body_bg {
  color: #f8f8f8;
}

.bg-body_bg {
  background-color: #f8f8f8;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fs-12 {
  font-size: 3.0768vw;
}

.fs-14 {
  font-size: 3.5896vw;
}

.fs-16 {
  font-size: 4.1024vw;
}

.fs-18 {
  font-size: 4.6152vw;
}

.fs-20 {
  font-size: 5.128vw;
}

.fs-22 {
  font-size: 5.6408vw;
}

.fs-24 {
  font-size: 6.1536vw;
}

.fs-26 {
  font-size: 6.6664vw;
}

.fs-28 {
  font-size: 7.1792vw;
}

.fs-30 {
  font-size: 7.692vw;
}

.fs-32 {
  font-size: 8.2048vw;
}

.fs-34 {
  font-size: 8.7176vw;
}

.fs-36 {
  font-size: 9.2304vw;
}

.fs-38 {
  font-size: 9.7432vw;
}

.fs-40 {
  font-size: 10.256vw;
}

.fs-42 {
  font-size: 10.7688vw;
}

.fs-44 {
  font-size: 11.2816vw;
}

.fs-46 {
  font-size: 11.7944vw;
}

.fs-48 {
  font-size: 12.3072vw;
}

.fs-50 {
  font-size: 12.82vw;
}

.fs-52 {
  font-size: 13.3328vw;
}

.fs-54 {
  font-size: 13.8456vw;
}

.fs-56 {
  font-size: 14.3584vw;
}

.fs-58 {
  font-size: 14.8712vw;
}

.fs-60 {
  font-size: 15.384vw;
}

.fs-62 {
  font-size: 15.8968vw;
}

.fs-64 {
  font-size: 16.4096vw;
}

.fs-66 {
  font-size: 16.9224vw;
}

.fs-68 {
  font-size: 17.4352vw;
}

.fs-70 {
  font-size: 17.948vw;
}

.fs-72 {
  font-size: 18.4608vw;
}

.fs-74 {
  font-size: 18.9736vw;
}

.fs-76 {
  font-size: 19.4864vw;
}

.fs-78 {
  font-size: 19.9992vw;
}

.fs-80 {
  font-size: 20.512vw;
}

.fs-82 {
  font-size: 21.0248vw;
}

.fs-84 {
  font-size: 21.5376vw;
}

.fs-86 {
  font-size: 22.0504vw;
}

.fs-88 {
  font-size: 22.5632vw;
}

.fs-90 {
  font-size: 23.076vw;
}

.fs-92 {
  font-size: 23.5888vw;
}

.fs-94 {
  font-size: 24.1016vw;
}

.fs-96 {
  font-size: 24.6144vw;
}

.fs-98 {
  font-size: 25.1272vw;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-start {
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-end {
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-center {
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-between {
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.jc-stretch {
  -webkit-justify-content: stretch;
     -moz-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.ai-start {
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai-end {
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ai-center {
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-stretch {
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-1 {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-grow-1 {
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fWrap-nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.fWrap-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.fWrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}

.m-5 {
  margin: 1.282vw;
}

.mx-5 {
  margin-left: 1.282vw;
  margin-right: 1.282vw;
}

.my-5 {
  margin-top: 1.282vw;
  margin-bottom: 1.282vw;
}

.mt-5 {
  margin-top: 1.282vw;
}

.mb-5 {
  margin-bottom: 1.282vw;
}

.mr-5 {
  margin-right: 1.282vw;
}

.ml-5 {
  margin-left: 1.282vw;
}

.p-5 {
  padding: 1.282vw;
}

.px-5 {
  padding-left: 1.282vw;
  padding-right: 1.282vw;
}

.py-5 {
  padding-top: 1.282vw;
  padding-bottom: 1.282vw;
}

.pt-5 {
  padding-top: 1.282vw;
}

.pb-5 {
  padding-bottom: 1.282vw;
}

.pr-5 {
  padding-right: 1.282vw;
}

.pl-5 {
  padding-left: 1.282vw;
}

.m-10 {
  margin: 2.564vw;
}

.mx-10 {
  margin-left: 2.564vw;
  margin-right: 2.564vw;
}

.my-10 {
  margin-top: 2.564vw;
  margin-bottom: 2.564vw;
}

.mt-10 {
  margin-top: 2.564vw;
}

.mb-10 {
  margin-bottom: 2.564vw;
}

.mr-10 {
  margin-right: 2.564vw;
}

.ml-10 {
  margin-left: 2.564vw;
}

.p-10 {
  padding: 2.564vw;
}

.px-10 {
  padding-left: 2.564vw;
  padding-right: 2.564vw;
}

.py-10 {
  padding-top: 2.564vw;
  padding-bottom: 2.564vw;
}

.pt-10 {
  padding-top: 2.564vw;
}

.pb-10 {
  padding-bottom: 2.564vw;
}

.pr-10 {
  padding-right: 2.564vw;
}

.pl-10 {
  padding-left: 2.564vw;
}

.m-15 {
  margin: 3.846vw;
}

.mx-15 {
  margin-left: 3.846vw;
  margin-right: 3.846vw;
}

.my-15 {
  margin-top: 3.846vw;
  margin-bottom: 3.846vw;
}

.mt-15 {
  margin-top: 3.846vw;
}

.mb-15 {
  margin-bottom: 3.846vw;
}

.mr-15 {
  margin-right: 3.846vw;
}

.ml-15 {
  margin-left: 3.846vw;
}

.p-15 {
  padding: 3.846vw;
}

.px-15 {
  padding-left: 3.846vw;
  padding-right: 3.846vw;
}

.py-15 {
  padding-top: 3.846vw;
  padding-bottom: 3.846vw;
}

.pt-15 {
  padding-top: 3.846vw;
}

.pb-15 {
  padding-bottom: 3.846vw;
}

.pr-15 {
  padding-right: 3.846vw;
}

.pl-15 {
  padding-left: 3.846vw;
}

.m-20 {
  margin: 5.128vw;
}

.mx-20 {
  margin-left: 5.128vw;
  margin-right: 5.128vw;
}

.my-20 {
  margin-top: 5.128vw;
  margin-bottom: 5.128vw;
}

.mt-20 {
  margin-top: 5.128vw;
}

.mb-20 {
  margin-bottom: 5.128vw;
}

.mr-20 {
  margin-right: 5.128vw;
}

.ml-20 {
  margin-left: 5.128vw;
}

.p-20 {
  padding: 5.128vw;
}

.px-20 {
  padding-left: 5.128vw;
  padding-right: 5.128vw;
}

.py-20 {
  padding-top: 5.128vw;
  padding-bottom: 5.128vw;
}

.pt-20 {
  padding-top: 5.128vw;
}

.pb-20 {
  padding-bottom: 5.128vw;
}

.pr-20 {
  padding-right: 5.128vw;
}

.pl-20 {
  padding-left: 5.128vw;
}

.m-25 {
  margin: 6.41vw;
}

.mx-25 {
  margin-left: 6.41vw;
  margin-right: 6.41vw;
}

.my-25 {
  margin-top: 6.41vw;
  margin-bottom: 6.41vw;
}

.mt-25 {
  margin-top: 6.41vw;
}

.mb-25 {
  margin-bottom: 6.41vw;
}

.mr-25 {
  margin-right: 6.41vw;
}

.ml-25 {
  margin-left: 6.41vw;
}

.p-25 {
  padding: 6.41vw;
}

.px-25 {
  padding-left: 6.41vw;
  padding-right: 6.41vw;
}

.py-25 {
  padding-top: 6.41vw;
  padding-bottom: 6.41vw;
}

.pt-25 {
  padding-top: 6.41vw;
}

.pb-25 {
  padding-bottom: 6.41vw;
}

.pr-25 {
  padding-right: 6.41vw;
}

.pl-25 {
  padding-left: 6.41vw;
}

.m-30 {
  margin: 7.692vw;
}

.mx-30 {
  margin-left: 7.692vw;
  margin-right: 7.692vw;
}

.my-30 {
  margin-top: 7.692vw;
  margin-bottom: 7.692vw;
}

.mt-30 {
  margin-top: 7.692vw;
}

.mb-30 {
  margin-bottom: 7.692vw;
}

.mr-30 {
  margin-right: 7.692vw;
}

.ml-30 {
  margin-left: 7.692vw;
}

.p-30 {
  padding: 7.692vw;
}

.px-30 {
  padding-left: 7.692vw;
  padding-right: 7.692vw;
}

.py-30 {
  padding-top: 7.692vw;
  padding-bottom: 7.692vw;
}

.pt-30 {
  padding-top: 7.692vw;
}

.pb-30 {
  padding-bottom: 7.692vw;
}

.pr-30 {
  padding-right: 7.692vw;
}

.pl-30 {
  padding-left: 7.692vw;
}

.m-35 {
  margin: 8.974vw;
}

.mx-35 {
  margin-left: 8.974vw;
  margin-right: 8.974vw;
}

.my-35 {
  margin-top: 8.974vw;
  margin-bottom: 8.974vw;
}

.mt-35 {
  margin-top: 8.974vw;
}

.mb-35 {
  margin-bottom: 8.974vw;
}

.mr-35 {
  margin-right: 8.974vw;
}

.ml-35 {
  margin-left: 8.974vw;
}

.p-35 {
  padding: 8.974vw;
}

.px-35 {
  padding-left: 8.974vw;
  padding-right: 8.974vw;
}

.py-35 {
  padding-top: 8.974vw;
  padding-bottom: 8.974vw;
}

.pt-35 {
  padding-top: 8.974vw;
}

.pb-35 {
  padding-bottom: 8.974vw;
}

.pr-35 {
  padding-right: 8.974vw;
}

.pl-35 {
  padding-left: 8.974vw;
}

.m-40 {
  margin: 10.256vw;
}

.mx-40 {
  margin-left: 10.256vw;
  margin-right: 10.256vw;
}

.my-40 {
  margin-top: 10.256vw;
  margin-bottom: 10.256vw;
}

.mt-40 {
  margin-top: 10.256vw;
}

.mb-40 {
  margin-bottom: 10.256vw;
}

.mr-40 {
  margin-right: 10.256vw;
}

.ml-40 {
  margin-left: 10.256vw;
}

.p-40 {
  padding: 10.256vw;
}

.px-40 {
  padding-left: 10.256vw;
  padding-right: 10.256vw;
}

.py-40 {
  padding-top: 10.256vw;
  padding-bottom: 10.256vw;
}

.pt-40 {
  padding-top: 10.256vw;
}

.pb-40 {
  padding-bottom: 10.256vw;
}

.pr-40 {
  padding-right: 10.256vw;
}

.pl-40 {
  padding-left: 10.256vw;
}

.m-45 {
  margin: 11.538vw;
}

.mx-45 {
  margin-left: 11.538vw;
  margin-right: 11.538vw;
}

.my-45 {
  margin-top: 11.538vw;
  margin-bottom: 11.538vw;
}

.mt-45 {
  margin-top: 11.538vw;
}

.mb-45 {
  margin-bottom: 11.538vw;
}

.mr-45 {
  margin-right: 11.538vw;
}

.ml-45 {
  margin-left: 11.538vw;
}

.p-45 {
  padding: 11.538vw;
}

.px-45 {
  padding-left: 11.538vw;
  padding-right: 11.538vw;
}

.py-45 {
  padding-top: 11.538vw;
  padding-bottom: 11.538vw;
}

.pt-45 {
  padding-top: 11.538vw;
}

.pb-45 {
  padding-bottom: 11.538vw;
}

.pr-45 {
  padding-right: 11.538vw;
}

.pl-45 {
  padding-left: 11.538vw;
}

.m-50 {
  margin: 12.82vw;
}

.mx-50 {
  margin-left: 12.82vw;
  margin-right: 12.82vw;
}

.my-50 {
  margin-top: 12.82vw;
  margin-bottom: 12.82vw;
}

.mt-50 {
  margin-top: 12.82vw;
}

.mb-50 {
  margin-bottom: 12.82vw;
}

.mr-50 {
  margin-right: 12.82vw;
}

.ml-50 {
  margin-left: 12.82vw;
}

.p-50 {
  padding: 12.82vw;
}

.px-50 {
  padding-left: 12.82vw;
  padding-right: 12.82vw;
}

.py-50 {
  padding-top: 12.82vw;
  padding-bottom: 12.82vw;
}

.pt-50 {
  padding-top: 12.82vw;
}

.pb-50 {
  padding-bottom: 12.82vw;
}

.pr-50 {
  padding-right: 12.82vw;
}

.pl-50 {
  padding-left: 12.82vw;
}

.m-55 {
  margin: 14.102vw;
}

.mx-55 {
  margin-left: 14.102vw;
  margin-right: 14.102vw;
}

.my-55 {
  margin-top: 14.102vw;
  margin-bottom: 14.102vw;
}

.mt-55 {
  margin-top: 14.102vw;
}

.mb-55 {
  margin-bottom: 14.102vw;
}

.mr-55 {
  margin-right: 14.102vw;
}

.ml-55 {
  margin-left: 14.102vw;
}

.p-55 {
  padding: 14.102vw;
}

.px-55 {
  padding-left: 14.102vw;
  padding-right: 14.102vw;
}

.py-55 {
  padding-top: 14.102vw;
  padding-bottom: 14.102vw;
}

.pt-55 {
  padding-top: 14.102vw;
}

.pb-55 {
  padding-bottom: 14.102vw;
}

.pr-55 {
  padding-right: 14.102vw;
}

.pl-55 {
  padding-left: 14.102vw;
}

.m-60 {
  margin: 15.384vw;
}

.mx-60 {
  margin-left: 15.384vw;
  margin-right: 15.384vw;
}

.my-60 {
  margin-top: 15.384vw;
  margin-bottom: 15.384vw;
}

.mt-60 {
  margin-top: 15.384vw;
}

.mb-60 {
  margin-bottom: 15.384vw;
}

.mr-60 {
  margin-right: 15.384vw;
}

.ml-60 {
  margin-left: 15.384vw;
}

.p-60 {
  padding: 15.384vw;
}

.px-60 {
  padding-left: 15.384vw;
  padding-right: 15.384vw;
}

.py-60 {
  padding-top: 15.384vw;
  padding-bottom: 15.384vw;
}

.pt-60 {
  padding-top: 15.384vw;
}

.pb-60 {
  padding-bottom: 15.384vw;
}

.pr-60 {
  padding-right: 15.384vw;
}

.pl-60 {
  padding-left: 15.384vw;
}

.m-65 {
  margin: 16.666vw;
}

.mx-65 {
  margin-left: 16.666vw;
  margin-right: 16.666vw;
}

.my-65 {
  margin-top: 16.666vw;
  margin-bottom: 16.666vw;
}

.mt-65 {
  margin-top: 16.666vw;
}

.mb-65 {
  margin-bottom: 16.666vw;
}

.mr-65 {
  margin-right: 16.666vw;
}

.ml-65 {
  margin-left: 16.666vw;
}

.p-65 {
  padding: 16.666vw;
}

.px-65 {
  padding-left: 16.666vw;
  padding-right: 16.666vw;
}

.py-65 {
  padding-top: 16.666vw;
  padding-bottom: 16.666vw;
}

.pt-65 {
  padding-top: 16.666vw;
}

.pb-65 {
  padding-bottom: 16.666vw;
}

.pr-65 {
  padding-right: 16.666vw;
}

.pl-65 {
  padding-left: 16.666vw;
}

.m-70 {
  margin: 17.948vw;
}

.mx-70 {
  margin-left: 17.948vw;
  margin-right: 17.948vw;
}

.my-70 {
  margin-top: 17.948vw;
  margin-bottom: 17.948vw;
}

.mt-70 {
  margin-top: 17.948vw;
}

.mb-70 {
  margin-bottom: 17.948vw;
}

.mr-70 {
  margin-right: 17.948vw;
}

.ml-70 {
  margin-left: 17.948vw;
}

.p-70 {
  padding: 17.948vw;
}

.px-70 {
  padding-left: 17.948vw;
  padding-right: 17.948vw;
}

.py-70 {
  padding-top: 17.948vw;
  padding-bottom: 17.948vw;
}

.pt-70 {
  padding-top: 17.948vw;
}

.pb-70 {
  padding-bottom: 17.948vw;
}

.pr-70 {
  padding-right: 17.948vw;
}

.pl-70 {
  padding-left: 17.948vw;
}

.m-75 {
  margin: 19.23vw;
}

.mx-75 {
  margin-left: 19.23vw;
  margin-right: 19.23vw;
}

.my-75 {
  margin-top: 19.23vw;
  margin-bottom: 19.23vw;
}

.mt-75 {
  margin-top: 19.23vw;
}

.mb-75 {
  margin-bottom: 19.23vw;
}

.mr-75 {
  margin-right: 19.23vw;
}

.ml-75 {
  margin-left: 19.23vw;
}

.p-75 {
  padding: 19.23vw;
}

.px-75 {
  padding-left: 19.23vw;
  padding-right: 19.23vw;
}

.py-75 {
  padding-top: 19.23vw;
  padding-bottom: 19.23vw;
}

.pt-75 {
  padding-top: 19.23vw;
}

.pb-75 {
  padding-bottom: 19.23vw;
}

.pr-75 {
  padding-right: 19.23vw;
}

.pl-75 {
  padding-left: 19.23vw;
}

.m-80 {
  margin: 20.512vw;
}

.mx-80 {
  margin-left: 20.512vw;
  margin-right: 20.512vw;
}

.my-80 {
  margin-top: 20.512vw;
  margin-bottom: 20.512vw;
}

.mt-80 {
  margin-top: 20.512vw;
}

.mb-80 {
  margin-bottom: 20.512vw;
}

.mr-80 {
  margin-right: 20.512vw;
}

.ml-80 {
  margin-left: 20.512vw;
}

.p-80 {
  padding: 20.512vw;
}

.px-80 {
  padding-left: 20.512vw;
  padding-right: 20.512vw;
}

.py-80 {
  padding-top: 20.512vw;
  padding-bottom: 20.512vw;
}

.pt-80 {
  padding-top: 20.512vw;
}

.pb-80 {
  padding-bottom: 20.512vw;
}

.pr-80 {
  padding-right: 20.512vw;
}

.pl-80 {
  padding-left: 20.512vw;
}

.m-85 {
  margin: 21.794vw;
}

.mx-85 {
  margin-left: 21.794vw;
  margin-right: 21.794vw;
}

.my-85 {
  margin-top: 21.794vw;
  margin-bottom: 21.794vw;
}

.mt-85 {
  margin-top: 21.794vw;
}

.mb-85 {
  margin-bottom: 21.794vw;
}

.mr-85 {
  margin-right: 21.794vw;
}

.ml-85 {
  margin-left: 21.794vw;
}

.p-85 {
  padding: 21.794vw;
}

.px-85 {
  padding-left: 21.794vw;
  padding-right: 21.794vw;
}

.py-85 {
  padding-top: 21.794vw;
  padding-bottom: 21.794vw;
}

.pt-85 {
  padding-top: 21.794vw;
}

.pb-85 {
  padding-bottom: 21.794vw;
}

.pr-85 {
  padding-right: 21.794vw;
}

.pl-85 {
  padding-left: 21.794vw;
}

.m-90 {
  margin: 23.076vw;
}

.mx-90 {
  margin-left: 23.076vw;
  margin-right: 23.076vw;
}

.my-90 {
  margin-top: 23.076vw;
  margin-bottom: 23.076vw;
}

.mt-90 {
  margin-top: 23.076vw;
}

.mb-90 {
  margin-bottom: 23.076vw;
}

.mr-90 {
  margin-right: 23.076vw;
}

.ml-90 {
  margin-left: 23.076vw;
}

.p-90 {
  padding: 23.076vw;
}

.px-90 {
  padding-left: 23.076vw;
  padding-right: 23.076vw;
}

.py-90 {
  padding-top: 23.076vw;
  padding-bottom: 23.076vw;
}

.pt-90 {
  padding-top: 23.076vw;
}

.pb-90 {
  padding-bottom: 23.076vw;
}

.pr-90 {
  padding-right: 23.076vw;
}

.pl-90 {
  padding-left: 23.076vw;
}

.m-95 {
  margin: 24.358vw;
}

.mx-95 {
  margin-left: 24.358vw;
  margin-right: 24.358vw;
}

.my-95 {
  margin-top: 24.358vw;
  margin-bottom: 24.358vw;
}

.mt-95 {
  margin-top: 24.358vw;
}

.mb-95 {
  margin-bottom: 24.358vw;
}

.mr-95 {
  margin-right: 24.358vw;
}

.ml-95 {
  margin-left: 24.358vw;
}

.p-95 {
  padding: 24.358vw;
}

.px-95 {
  padding-left: 24.358vw;
  padding-right: 24.358vw;
}

.py-95 {
  padding-top: 24.358vw;
  padding-bottom: 24.358vw;
}

.pt-95 {
  padding-top: 24.358vw;
}

.pb-95 {
  padding-bottom: 24.358vw;
}

.pr-95 {
  padding-right: 24.358vw;
}

.pl-95 {
  padding-left: 24.358vw;
}

.d-inline {
  display: inline;
}

.d-inblock {
  display: inline-block;
}

.d-block {
  display: block;
}

.viH {
  visibility: hidden;
}

.viV {
  visibility: visible;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.overflowH hidden {
  overflow: "H" hidden;
}

.overflowH hidden-x {
  overflow-x: "H" hidden;
}

.overflowH hidden-y {
  overflow-y: "H" hidden;
}

.overflowA auto {
  overflow: "A" auto;
}

.overflowA auto-x {
  overflow-x: "A" auto;
}

.overflowA auto-y {
  overflow-y: "A" auto;
}

.widthPer-1 {
  width: -webkit-calc(100% / 1);
  width: -moz-calc(100% / 1);
  width: calc(100% / 1);
}

.heightPer-1 {
  height: -webkit-calc(100% / 1);
  height: -moz-calc(100% / 1);
  height: calc(100% / 1);
}

.widthPer-2 {
  width: -webkit-calc(100% / 2);
  width: -moz-calc(100% / 2);
  width: calc(100% / 2);
}

.heightPer-2 {
  height: -webkit-calc(100% / 2);
  height: -moz-calc(100% / 2);
  height: calc(100% / 2);
}

.widthPer-3 {
  width: -webkit-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: calc(100% / 3);
}

.heightPer-3 {
  height: -webkit-calc(100% / 3);
  height: -moz-calc(100% / 3);
  height: calc(100% / 3);
}

.widthPer-4 {
  width: -webkit-calc(100% / 4);
  width: -moz-calc(100% / 4);
  width: calc(100% / 4);
}

.heightPer-4 {
  height: -webkit-calc(100% / 4);
  height: -moz-calc(100% / 4);
  height: calc(100% / 4);
}

.widthPer-5 {
  width: -webkit-calc(100% / 5);
  width: -moz-calc(100% / 5);
  width: calc(100% / 5);
}

.heightPer-5 {
  height: -webkit-calc(100% / 5);
  height: -moz-calc(100% / 5);
  height: calc(100% / 5);
}

.lineH-10 {
  line-height: 2.564vw;
}

.heightDiv-10 {
  height: 2.564vw;
}

.lineH-15 {
  line-height: 3.846vw;
}

.heightDiv-15 {
  height: 3.846vw;
}

.lineH-20 {
  line-height: 5.128vw;
}

.heightDiv-20 {
  height: 5.128vw;
}

.lineH-25 {
  line-height: 6.41vw;
}

.heightDiv-25 {
  height: 6.41vw;
}

.lineH-30 {
  line-height: 7.692vw;
}

.heightDiv-30 {
  height: 7.692vw;
}

.lineH-35 {
  line-height: 8.974vw;
}

.heightDiv-35 {
  height: 8.974vw;
}

.lineH-40 {
  line-height: 10.256vw;
}

.heightDiv-40 {
  height: 10.256vw;
}

.lineH-45 {
  line-height: 11.538vw;
}

.heightDiv-45 {
  height: 11.538vw;
}

.lineH-50 {
  line-height: 12.82vw;
}

.heightDiv-50 {
  height: 12.82vw;
}

.lineH-55 {
  line-height: 14.102vw;
}

.heightDiv-55 {
  height: 14.102vw;
}

.lineH-60 {
  line-height: 15.384vw;
}

.heightDiv-60 {
  height: 15.384vw;
}

.lineH-65 {
  line-height: 16.666vw;
}

.heightDiv-65 {
  height: 16.666vw;
}

.lineH-70 {
  line-height: 17.948vw;
}

.heightDiv-70 {
  height: 17.948vw;
}

.lineH-75 {
  line-height: 19.23vw;
}

.heightDiv-75 {
  height: 19.23vw;
}

.lineH-80 {
  line-height: 20.512vw;
}

.heightDiv-80 {
  height: 20.512vw;
}

.lineH-85 {
  line-height: 21.794vw;
}

.heightDiv-85 {
  height: 21.794vw;
}

.lineH-90 {
  line-height: 23.076vw;
}

.heightDiv-90 {
  height: 23.076vw;
}

.lineH-95 {
  line-height: 24.358vw;
}

.heightDiv-95 {
  height: 24.358vw;
}

.box-b {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.box-c {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

/*被访问过链接*/
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
button {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 3.0769vw/1.6667 "宋体", Arial, Verdana, tahoma, Helvetica, sans-serif;
}

input,
select,
textarea {
  font-size: 100%;
  line-height: inherit;
  outline: none;
}

/* 去掉各Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}

/* 去除默认边框 */
img {
  border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}

/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}

/* 标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000000;
}

/* 加粗 */
.fwb {
  font-weight: bold;
}

.overOne {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.wpword {
  word-wrap: break-word;
}

.wbword {
  word-break: break-word;
}

.curp {
  cursor: pointer;
}

.clear {
  *zoom: 1;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

[class^="myicon-"] {
  display: inline-block;
  background: url("../images/spriteBig.png") no-repeat 0 0;
  -o-background-size: 100vw;
     background-size: 100vw;
}

.myicon-dingwei {
  background-position: -1.7949vw -1.7949vw;
  width: 4.8718vw;
  height: 5.641vw;
}

.myicon-morePoint {
  background-position: -8.2051vw -1.7949vw;
  width: 5.8974vw;
  height: 6.6667vw;
}

.myicon-kefu {
  background-position: -15.641vw -1.7949vw;
  width: 5.8974vw;
  height: 5.1282vw;
}

.myicon-newMesg {
  background-position: -23.0769vw -1.7949vw;
  width: 6.1538vw;
  height: 4.6154vw;
}

.myicon-tejiaRed {
  background-position: -30.7692vw -1.7949vw;
  width: 5.641vw;
  height: 4.6154vw;
}

.myicon-shuxieOrange {
  background-position: -45.1282vw -1.7949vw;
  width: 6.1538vw;
  height: 6.1538vw;
}

.myicon-startCnt {
  background-position: -52.8205vw -1.7949vw;
  width: 15.8974vw;
  height: 4.1026vw;
}

.myicon-paizhao {
  background-position: -70vw -1.7949vw;
  width: 5.3846vw;
  height: 4.8718vw;
}

.myicon-xiaolianIcon {
  background-position: -76.9231vw -1.7949vw;
  width: 6.1538vw;
  height: 6.1538vw;
}

.myicon-shoucang {
  background-position: -84.6154vw -1.7949vw;
  width: 5.641vw;
  height: 5.3846vw;
}

.myicon-quanOrange {
  background-position: -91.7949vw -1.7949vw;
  width: 7.1795vw;
  height: 4.1026vw;
}

.myicon-xianshiqianggou {
  background-position: -1.7949vw -8.9744vw;
  width: 28.4615vw;
  height: 10vw;
}

.myicon-newOrange {
  background-position: -32.0513vw -8.9744vw;
  width: 6.4103vw;
  height: 3.3333vw;
}

.myicon-huomiao {
  background-position: -40.7692vw -8.9744vw;
  width: 4.1026vw;
  height: 4.1026vw;
}

.myicon-naozhongRed {
  background-position: -47.1795vw -8.9744vw;
  width: 8.4615vw;
  height: 4.6154vw;
}

.myicon-Vbiao {
  background-position: -57.9487vw -8.9744vw;
  width: 6.1538vw;
  height: 5.641vw;
}

.myicon-benzi {
  background-position: -66.4103vw -9.2308vw;
  width: 5.3846vw;
  height: 6.1538vw;
}

.myicon-duihuaPink {
  background-position: -74.1026vw -8.9744vw;
  width: 6.1538vw;
  height: 6.1538vw;
}

.myicon-bluefenge {
  background-position: -1.7949vw -19.2308vw;
  width: 25.641vw;
  height: 26.4103vw;
}

.myicon-shuaxinIcon {
  background-position: -32.0513vw -19.2308vw;
  width: 55.1282vw;
  height: 48.2051vw;
}

.myicon-notOnline {
  background-position: -1.7949vw -71.2821vw;
  width: 67.6923vw;
  height: 56.9231vw;
}

.myicon-woguanzhu {
  background-position: -71.7949vw -71.2821vw;
  width: 7.1795vw;
  height: 5.8974vw;
}

.myicon-woshoucnag {
  background-position: -82.0513vw -71.2821vw;
  width: 7.6923vw;
  height: 6.6667vw;
}

.myicon-wofabiao {
  background-position: -92.0513vw -71.0256vw;
  width: 7.4359vw;
  height: 6.9231vw;
}

.myicon-wotiwen {
  background-position: -72.0513vw -79.4872vw;
  width: 6.9231vw;
  height: 6.9231vw;
}

.myicon-wocanyu {
  background-position: -81.5385vw -79.4872vw;
  width: 7.6923vw;
  height: 6.4103vw;
}

.myicon-shenqingyewu {
  background-position: -91.7949vw -79.4872vw;
  width: 7.1795vw;
  height: 6.4103vw;
}

.myicon-baoxianfuwu {
  background-position: -71.7949vw -88.7179vw;
  width: 7.6923vw;
  height: 7.4359vw;
}

.myicon-tongchengfuwu {
  background-position: -82.0513vw -88.7179vw;
  width: 7.1795vw;
  height: 6.4103vw;
}

.myicon-jinrfuwu {
  background-position: -91.7949vw -88.7179vw;
  width: 7.4359vw;
  height: 6.6667vw;
}

.myicon-guanyuwomen {
  background-position: -72.0513vw -97.9487vw;
  width: 7.4359vw;
  height: 6.6667vw;
}

.myicon-yijianfankui {
  background-position: -82.5641vw -97.9487vw;
  width: 6.9231vw;
  height: 7.4359vw;
}

.myicon-radiusYellowS {
  background-position: -1.7949vw -130vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-radiusOrangeS {
  background-position: -23.5897vw -130vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-radiusOrangeZ {
  background-position: -45.3846vw -130vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-radiusPinkF {
  background-position: -67.1795vw -130vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-radiusPinkZ {
  background-position: -1.7949vw -149.4872vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-radiusYellowZ {
  background-position: -23.0769vw -149.4872vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-radiusGreenS {
  background-position: -44.1026vw -149.4872vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-radiusBlueQ {
  background-position: -67.1795vw -149.4872vw;
  width: 17.9487vw;
  height: 15.3846vw;
}

.myicon-footerShouyeG {
  background-position: -17.6923vw -166.9231vw;
  width: 6.1538vw;
  height: 6.1538vw;
}

.myicon-footerShouyeB {
  background-position: -1.7949vw -175.3846vw;
  width: 11.0256vw;
  height: 10.7692vw;
}

.myicon-footerXinnongcunG {
  background-position: -25.8974vw -166.9231vw;
  width: 6.1538vw;
  height: 5.3846vw;
}

.myicon-footerXinnongcunB {
  background-position: -38.4615vw -175.3846vw;
  width: 10.7692vw;
  height: 10.7692vw;
}

.myicon-footerNongpinhuiG {
  background-position: -9.4872vw -166.9231vw;
  width: 6.1538vw;
  height: 5.8974vw;
}

.myicon-footerNongpinhuiB {
  background-position: -14.1026vw -175.3846vw;
  width: 10.7692vw;
  height: 10.7692vw;
}

.myicon-footerWpdeG {
  background-position: -1.7949vw -166.9231vw;
  width: 5.641vw;
  height: 6.1538vw;
}

.myicon-footerWpdeB {
  background-position: -26.4103vw -175.3846vw;
  width: 10.7692vw;
  height: 11.0256vw;
}

.myicon-zonghezixun {
  background-position: -1.7949vw -187.9487vw;
  width: 7.6923vw;
  height: 7.6923vw;
}

.myicon-nongjifuwu {
  background-position: -12.5641vw -187.9487vw;
  width: 8.2051vw;
  height: 7.9487vw;
}

.myicon-nonghuoshengchan {
  background-position: -23.8462vw -187.9487vw;
  width: 7.4359vw;
  height: 7.1795vw;
}

.myicon-nongwuzixun {
  background-position: -34.359vw -187.9487vw;
  width: 8.2051vw;
  height: 8.2051vw;
}

.myicon-zhongzhizhushou {
  background-position: -45.641vw -187.9487vw;
  width: 8.2051vw;
  height: 7.6923vw;
}

.myicon-shujushangbao {
  background-position: -56.9231vw -187.9487vw;
  width: 8.2051vw;
  height: 8.2051vw;
}

.myicon-zhongchouxiangmu {
  background-position: -68.2051vw -187.9487vw;
  width: 7.9487vw;
  height: 8.2051vw;
}

.myicon-jinrongchanp {
  background-position: -79.2308vw -187.9487vw;
  width: 7.1795vw;
  height: 8.2051vw;
}

.myicon-zixunzhongxin {
  background-position: -1.7949vw -200.7692vw;
  width: 8.2051vw;
  height: 6.9231vw;
}

.myicon-zaixiannongxiao {
  background-position: -12.8205vw -200.7692vw;
  width: 8.2051vw;
  height: 7.4359vw;
}

.myicon-nongyeyiyuan {
  background-position: -23.5897vw -200.7692vw;
  width: 5.8974vw;
  height: 8.2051vw;
}

.myicon-tudiliuzhuan {
  background-position: -32.3077vw -200.7692vw;
  width: 8.2051vw;
  height: 7.9487vw;
}

.myicon-sannongbutie {
  background-position: -43.0769vw -200.7692vw;
  width: 7.4359vw;
  height: 7.4359vw;
}

.myicon-chanpshuyuan {
  background-position: -53.3333vw -200.7692vw;
  width: 7.6923vw;
  height: 7.6923vw;
}

.myicon-zhengwuzixun {
  background-position: -63.5897vw -200.7692vw;
  width: 6.9231vw;
  height: 6.1538vw;
}

.myicon-yichangshangbao {
  background-position: -73.0769vw -200.7692vw;
  width: 7.6923vw;
  height: 6.6667vw;
}

.myicon-meilixiangcun {
  background-position: -83.3333vw -200.7692vw;
  width: 8.2051vw;
  height: 7.1795vw;
}

.myicon-xiangcunlvyou {
  background-position: -93.5897vw -200.7692vw;
  width: 5.641vw;
  height: 7.6923vw;
}

.myicon-minsucany {
  background-position: -1.7949vw -212.8205vw;
  width: 8.4615vw;
  height: 6.6667vw;
}

.myicon-xiangcuntechan {
  background-position: -12.5641vw -212.8205vw;
  width: 8.2051vw;
  height: 7.9487vw;
}

.myicon-xiangcunwenchuang {
  background-position: -23.0769vw -212.8205vw;
  width: 5.8974vw;
  height: 7.6923vw;
}

.myicon-sanwugongkai {
  background-position: -31.5385vw -212.8205vw;
  width: 7.4359vw;
  height: 7.4359vw;
}

.myicon-shujixinxiang {
  background-position: -41.2821vw -212.8205vw;
  width: 7.4359vw;
  height: 7.6923vw;
}

.myicon-minqingshangbao {
  background-position: -51.2821vw -212.8205vw;
  width: 9.2308vw;
  height: 8.2051vw;
}

.myicon-wenmingshijiang {
  background-position: -62.8205vw -212.8205vw;
  width: 8.2051vw;
  height: 6.9231vw;
}

.myicon-huinongbutie {
  background-position: -73.5897vw -212.8205vw;
  width: 8.7179vw;
  height: 7.4359vw;
}

.myicon-linlihuzhu {
  background-position: -84.6154vw -212.8205vw;
  width: 9.2308vw;
  height: 6.1538vw;
}

.myicon-woyaobanshi {
  background-position: -1.7949vw -224.1026vw;
  width: 7.4359vw;
  height: 7.4359vw;
}

.myicon-suishoupai {
  background-position: -12.3077vw -224.1026vw;
  width: 7.6923vw;
  height: 6.6667vw;
}

.myicon-suishouwen {
  background-position: -22.8205vw -224.1026vw;
  width: 6.9231vw;
  height: 7.1795vw;
}

.myicon-wodecunzi {
  background-position: -32.8205vw -224.1026vw;
  width: 9.2308vw;
  height: 6.1538vw;
}

.myicon-nongpinhui {
  background-position: -44.8718vw -224.1026vw;
  width: 7.4359vw;
  height: 7.4359vw;
}

.myicon-ncptejia {
  background-position: -55.1282vw -224.1026vw;
  width: 7.4359vw;
  height: 6.6667vw;
}

.myicon-gongxuxinxi {
  background-position: -65.641vw -224.1026vw;
  width: 7.4359vw;
  height: 6.9231vw;
}

.myicon-quanyiliuzhuan {
  background-position: -75.8974vw -224.1026vw;
  width: 9.2308vw;
  height: 7.4359vw;
}

.myicon-jinrongbaoxian {
  background-position: -88.2051vw -224.1026vw;
  width: 8.4615vw;
  height: 6.9231vw;
}

.base_searchOne {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9.2308vw;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0 3.8462vw;
}

.base_searchOne .icon-sousuo {
  font-size: 5.641vw;
  color: #fff;
}

.base_searchOne .icon-huatong {
  font-size: 5.641vw;
  color: #ffffff;
}

.base_searchOne .inp_text {
  background-color: transparent;
  border: none;
  line-height: 5.641vw;
  height: 5.641vw;
  margin-bottom: 0;
  padding: 0 2.5641vw;
  font-size: 4.1026vw;
  color: #fff;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.base_searchOne .inp_text::-webkit-input-placeholder {
  color: #fff;
}

.base_searchOne .inp_text:-moz-placeholder {
  color: #fff;
}

.base_searchOne .inp_text::-moz-placeholder {
  color: #fff;
}

.base_searchOne .inp_text:-ms-input-placeholder {
  color: #fff;
}

.base_searchOne .inp_text::placeholder {
  color: #fff;
}
