@charset "utf-8";
// opacity透明度
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}

// clearfix清除浮动，float
@mixin clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//一行省略
@mixin overell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 多行省略
@mixin overelMore($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
//icon

/*图标*/

@mixin icon($url) {
  [class*="myicon-"] {
    display: inline-block;
    background: url($url) no-repeat 0 0;
    // 两倍图780px的1/2=设计图的390px，保证清晰度
    background-size: 100vw;
  }
}

@mixin appicon($left, $top, $width, $height) {
  background-position: $left $top;
  width: $width;
  height: $height;
}

// 由于使用的是mui的css，所以初始化标签的样式页一并使用mui的
/* 格式化元素 */
html {
  font-family: PingFangSC-Regular, sans-serif;
}
/*被访问过链接*/
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
button {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  //表示字体大小加行高，20px/12px 约等于1.6667，向上四舍五入
  font: 3.0769vw/1.6667 PingFangSC-Regular, sans-serif;
}

input,
select,
textarea {
  // 设置字体属性为默认大小，是相对于浏览器默认字体大小或继承body设定的字体大小来说的
  font-size: 100%;
  line-height: inherit; //控件元素默认行高是normal是不受外部影响的，需要重置为inherit
  outline: none;
}
/* 去掉各Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}

/* 去除默认边框 */
img {
  border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}

/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}

/* 标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: #000000;
  }
}
