@charset "utf-8";
@import "_color";
$paddingLR: 3.8462vw;

body {
  padding-top: 11.5385vw;
  position: relative;
  background-color: map-get($colors, "gray_f6");
}
.nav_bar {
  background-color: map-get($colors, "white");
  .right_bar {
    display: block;
    width: 6.1538vw;
    height: 6.1538vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 6.1538vw;
      color: map-get($colors, "gray_75");
    }
  }
  .center_cnt {
    height: 100%;
    width: 80%;
    .tab {
      line-height: 10.7692vw;
      > p {
        font-size: 4.1026vw;
        color: map-get($colors, "black_28");
      }
      &.active {
        font-weight: normal;
        > p {
          color: map-get($colors, "black_28");
        }
        .line {
          display: block;
        }
      }
    }
  }
}
// 内容
.consult_cnt {
  box-sizing: border-box;
  position: relative;
}
.data_not {
  background-color: map-get($colors, "gray_f6");
}
// 图片文字列表
.text_img_lists {
  box-sizing: border-box;
  padding-top: 2.5641vw;
  background-color: map-get($colors, "gray_f6");
  .imgs_top {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2821vw !important;
    > img {
      width: 33%;
      height: 100%;
      object-fit: cover;
    }
    > .one_big_img {
      width: 100%;
      object-fit: cover;
    }
  }
  > .list {
    display: block;
    margin-top: 2.5641vw;
    background-color: map-get($colors, "white");
    &:first-child {
      margin-top: 0;
    }
  }
  .div_oneImg {
    width: 30.7692vw;
    height: 24.8718vw;
  }
  .div_text {
    box-sizing: border-box;
    padding: 1.2821vw 2.5641vw;
  }
}
