@charset "utf-8";
@import "_color";
$paddingLR: 3.8462vw;
body {
  background-color: map-get($colors, "white");
  padding-top: 11.5385vw;
  padding-bottom: 12.8205vw;
  box-sizing: border-box;
}

.nav_bar {
  background-color: map-get($colors, "white");
  .right_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2564vw solid map-get($colors, "gray_DD");
    height: 7.6923vw;
    border-radius: 1.2821vw;
    box-sizing: border-box;
    padding: 0 1.2821vw;
    > .iconfont {
      font-size: 5.641vw;
      color: map-get($colors, "gray_70");
      margin-right: 0.7692vw;
    }
    > p {
      font-size: 3.0769vw;
      color: map-get($colors, "black");
    }
  }
}
// 内容部分
.consult_cnt {
  width: 100%;
}
//数目板块
.plate_num {
  box-sizing: border-box;
  padding: 0 3.8462vw;
  padding-top: 1.2821vw;
  .color_block {
    background-color: map-get($colors, "gray_f4");
    box-shadow: 0 0.7692vw 1.5385vw map-get($colors, "gray_f4");
    border-radius: 2.5641vw;
    height: 25.1282vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .cnt_block {
      text-align: center;
      span {
        font-size: 6.6667vw;
        font-weight: bold;
        &.color_gray {
          color: map-get($colors, "gray_9B");
        }
        &.color_blue {
          color: map-get($colors, "blue_00");
        }
        &.color_red {
          color: map-get($colors, "red_D0");
        }
      }
      p {
        margin-top: 1.2821vw;
        font-size: 3.5897vw;
        color: map-get($colors, "gray_9B");
      }
    }
  }
}
//咨询内容列表
.cnt_list {
  width: 100%;
  box-sizing: border-box;
  padding: 3.8462vw;
  li {
    display: flex;
    > .times {
      color: map-get($colors, "gray_9B");
      text-align: center;
      width: 10.2564vw;
      box-sizing: border-box;
      .day {
        font-size: 6.1538vw;
        font-weight: bold;
      }
      .month_year {
        font-size: 3.0769vw;
      }
    }
  }
  .leave_back {
    border-left: 0.2564vw solid map-get($colors, "gray_d8");
    box-sizing: border-box;
    padding-left: 5.1282vw;
    margin-left: 1.2821vw;
    position: relative;
    flex: 1;
    box-sizing: border-box;
    padding-bottom: 5.1282vw;
    .division {
      box-sizing: border-box;
      padding: 2.5641vw 0;
      background-color: map-get($colors, "white");
      position: absolute;
      left: -1.2821vw;
      top: -1.2821vw;
      .radius {
        border-radius: 50%;
        border: 0.5128vw solid map-get($colors, "gray_bf");
        width: 2.5641vw;
        height: 2.5641vw;
      }
    }
    .right_cnt {
      .mark {
        height: 6.1538vw;
        line-height: 6.1538vw;
        font-size: 3.5897vw;
        color: map-get($colors, "white");
        border-radius: 2.0513vw;
        text-align: center;
        box-sizing: border-box;
        padding: 0 1.2821vw;
      }
      .type {
        display: flex;
        align-items: flex-start;
        .mark {
          background-image: linear-gradient(#f9ea0b, #fb9451);
          margin-right: 2.5641vw;
        }
        .text {
          flex: 1;
          overflow: hidden;
          line-height: 6.1538vw;
          font-size: 4.1026vw;
          color: map-get($colors, "black");
        }
      }
      .question {
        margin-top: 2.5641vw;
        > p {
          line-height: 6.1538vw;
          font-size: 3.5897vw;
          color: map-get($colors, "black");
        }
        .user_info {
          margin-top: 2.5641vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .message {
            display: flex;
            align-items: center;
            p {
              font-size: 3.0769vw;
              color: map-get($colors, "gray_bf");
              line-height: 5.1282vw;
            }
            .ml-20 {
              margin-left: 5.1282vw;
            }
            .user_pic {
              margin-right: 1.2821vw;
              width: 5.1282vw;
              height: 5.1282vw;
              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
          }
          .mark {
            background-color: map-get($colors, "red_D0");
          }
        }
      }
      .back_msg {
        background-color: map-get($colors, "gray_f6");
        border-radius: 2.5641vw;
        margin-top: 2.5641vw;
        box-sizing: border-box;
        padding: 2.5641vw;
        > .state {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .mark {
            background-image: linear-gradient(#27d5ff, #0091ff);
          }
          .time {
            font-size: 3.0769vw;
            color: map-get($colors, "gray_6d");
            display: flex;
            align-items: center;
            width: auto;
            line-height: 6.1538vw;
          }
          .ml-10 {
            margin-left: 2.5641vw;
          }
        }
        > .text {
          font-size: 4.1026vw;
          color: map-get($colors, "gray_6d");
          text-indent: 2em;
          box-sizing: border-box;
          padding: 2.5641vw 0;
          line-height: 6.4103vw;
        }
        > .bottom_div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .nums {
            color: map-get($colors, "gray_6d");
            font-size: 3.0769vw;
            > span {
              box-sizing: border-box;
              padding: 0 1.2821vw;
            }
          }
          .iconfont {
            font-size: 5.1282vw;
            color: map-get($colors, "gray_6d");
            cursor: pointer;
            &.icon-jushoucanggift {
              color: map-get($colors, "red_D0");
            }
          }
        }
      }
    }
  }
}
