@charset "utf-8";
/* 载入字体 */
@font-face {
  font-family: ds-digital;
  src: url("../fonts/ds-digital.ttf");
}
@font-face {
  font-family: ds-digital-bold;
  src: url("../fonts/ds-digital-bold.ttf");
}

@import "_color";
@import "_style";
@import "_icon";

$paddingLR: 3.8462vw;

// -----------------------------------------------------------这里放通用的样式
// 首页会公用的搜索框
.base_searchOne {
  width: 100%;
  height: 9.2308vw;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9.2308vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 3.8462vw;
  .icon-sousuo {
    font-size: 5.641vw;
    color: map-get($colors, "white");
  }
  .icon-huatong {
    font-size: 7.1795vw;
    color: map-get($colors, "white");
  }
  .inp_text {
    background-color: transparent;
    border: none;
    line-height: 5.641vw;
    height: 5.641vw;
    margin-bottom: 0;
    padding: 0 2.5641vw;
    font-size: 4.1026vw;
    color: map-get($colors, "white");
    flex: 1;
    &::placeholder {
      color: map-get($colors, "white");
    }
  }
}
// 新农村公用的地址与天气
.icons_city_weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 7.1795vw;
  > .city_weather {
    font-size: 4.6154vw;
    font-weight: bold;
    color: map-get($colors, "black_28");
    display: flex;
    align-items: center;
    .iconfont {
      font-size: 6.1538vw;
      color: map-get($colors, "blue_00");
      margin-right: 1.2821vw;
    }
  }
  > .icons {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      color: map-get($colors, "blue_00");
      font-size: 6.1538vw;
      position: relative;
      &:nth-child(n + 2) {
        margin-left: 2.5641vw;
      }
    }
  }
}
// 重置mui的搜索框
@mixin restMuiSearch {
  .mui-active:before {
    font-size: 5.1282vw;
    left: 1.2821vw;
    color: #ffffff !important;
    margin-top: 0 !important;
    transform: translateY(-50%);
  }
  .mui-input-row {
    flex: 1 !important;
  }
  .mui-plus-visible {
    display: block !important;
  }
  input[type="search"] {
    margin-bottom: 0;
    height: 9.2308vw;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 9.2308vw;
    color: #ffffff !important;
    font-size: 4.1026vw !important;
    line-height: 5.3846vw;
    padding: 2.5641vw 7.6923vw;
  }
  .mui-placeholder,
  .mui-icon {
    color: #ffffff !important;
  }
  .mui-placeholder {
    font-size: 4.1026vw !important;
    height: 9.2308vw;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 9.2308vw;
  }
  .mui-icon-clear,
  .mui-icon-speech {
    width: auto !important;
    height: auto !important;
    top: 50% !important;
    right: 2.5641vw !important;
    transform: translateY(-50%);
  }
  .mui-icon {
    font-size: 5.1282vw !important;
  }
}
// 首页的搜索框
.search_box {
  box-sizing: border-box;
  padding: $paddingLR $paddingLR 2.5641vw $paddingLR;
  position: sticky;
  top: 0;
  z-index: 9;
  @include restMuiSearch;
  &.fixed {
    background-image: linear-gradient(to bottom right, #27d5ff, #0091ff);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 72.0513vw;
  }
}
// 新农村与农品汇的搜索
.base_search_btn {
  margin-top: 2.5641vw;
  display: flex;
  justify-content: space-between;
  .mui-search {
    flex: 1;
  }
  @include restMuiSearch;
  &.fixed {
    background-image: linear-gradient(to bottom right, #27d5ff, #0091ff);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 72.0513vw;
  }
  > .btn {
    display: inline-block;
    height: 9.2308vw;
    line-height: 9.2308vw;
    text-align: center;
    border-radius: 9.2308vw;
    background: linear-gradient(#27d5ff, #0091ff);
    border: none;
    color: map-get($colors, "white");
    font-size: 4.1026vw;
    min-width: 15.3846vw;
    margin-left: 1.7949vw;
    box-shadow: 0 0.7692vw 1.5385vw rgba(39, 213, 255, 0.3);
  }
}
// 上方小红点
.my-badge {
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5385vw;
    height: 1.5385vw;
    background-color: map-get($colors, "red_D0");
    border-radius: 50%;
  }
}
// 带数字的红点
.my-badge-num {
  position: absolute;
  top: -1.9231vw;
  left: 5.1282vw;
  box-sizing: border-box;
  // padding: 0 1.2821vw;
  padding: 0 0.7692vw;
  min-width: 3.8462vw;
  height: 3.8462vw;
  line-height: 3.8462vw;
  background-color: map-get($colors, "red_D0");
  border-radius: 4.6154vw;
  color: map-get($colors, "white");
  font-size: 2.5641vw;
  text-align: center;
}
// 加入购物车图标
.add_cart_pos_img {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 5.1282vw;
  height: 5.1282vw;
  z-index: 10;
  box-shadow: 0vw 0.7692vw 0.7692vw rgba(255, 255, 255, 0.3);
  img {
    width: 100%;
    height: 100%;
    border-radius: 1.2821vw;
  }
}
// 白色卡片
.pic_card {
  border-radius: 1.2821vw;
  background-color: map-get($colors, "white");
  box-shadow: 0vw 0.7692vw 0.7692vw rgba(0, 0, 0, 0.08);
}
.titleCnt_card {
  width: 100%;
  box-sizing: border-box;
  padding: $paddingLR 0;
}
// 图标N宫格
.iconFlex_card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .list {
    text-align: center;
    margin-top: 5.1282vw;
    font-size: 0;
    > a {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
    }
    .layout {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: auto;
      height: 14.8718vw;
      .img_or_icon {
        height: 9.2308vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .text {
      line-height: 5.1282vw;
      font-size: 3.5897vw;
      color: map-get($colors, "black_28");
    }
  }
}
// 文字列表的标题栏
.card_title {
  box-sizing: border-box;
  padding: 0 $paddingLR;
  margin-bottom: $paddingLR;
  display: flex;
  justify-content: space-between;
  .only {
    line-height: 5.1282vw;
    font-size: 3.5897vw;
    color: map-get($colors, "black_28");
  }
  .brand {
    display: flex;
    align-items: center;
    line-height: 8.4615vw;
    > .text {
      background: linear-gradient(#f9ea0b, #fb9451);
      -webkit-background-clip: text;
      color: transparent;
      font-size: 6.4103vw;
      font-weight: bold;
    }
    > .line {
      width: 0.3846vw;
      height: 5.1282vw;
      background-color: map-get($colors, "gray_9B");
      margin: 0 2.5641vw;
    }
    > span {
      font-size: 3.0769vw;
      color: map-get($colors, "gray_9B");
    }
  }
  .countdown {
    display: flex;
    align-items: center;
    > .text {
      color: map-get($colors, "black_28");
      font-size: 3.5897vw;
      font-weight: bold;
      line-height: 5.1282vw;
      margin-right: 3.0769vw;
    }
    > .time_icon {
      position: relative;
      border: 0.2564vw solid map-get($colors, "red_D0");
      height: 4.1026vw;
      width: 23.0769vw;
      border-radius: 4.1026vw;
      box-sizing: border-box;
      padding-left: 8.7179vw;
      font-size: 2.5641vw;
      color: map-get($colors, "red_D0");
      display: flex;
      align-items: center;
      [class^="myicon-"] {
        position: absolute;
        top: -0.7692vw;
        left: -0.5128vw;
      }
    }
  }
  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($colors, "gray_9B");
    line-height: 5.1282vw;
    .iconfont {
      font-size: 3.8462vw;
    }
  }
}
// 文字图片列表
.text_img_lists {
  width: 100%;
  .list {
    display: block;
    margin-top: 3.8462vw;
    &:first-child {
      margin-top: 0;
    }
    > .imgs_top {
      width: 100%;
      margin-bottom: 3.0769vw;
    }
    > .text_oneImg {
      display: flex;
      justify-content: space-between;
      > .div_text {
        flex: 1;
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > .div_title {
          font-size: 3.5897vw;
          color: map-get($colors, "black_28");
          line-height: 5.641vw;
          @include overelMore(2);
        }
        > .div_tips {
          font-size: 3.0769vw;
          color: map-get($colors, "gray_9B");
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 2.5641vw;
          .redText {
            color: map-get($colors, "red_D0");
          }
          .text_mark {
            display: flex;
            align-items: center;
            > span:nth-child(n + 2) {
              margin-left: 2.5641vw;
            }
          }
          .text_aixin {
            display: flex;
            align-items: center;
            .iconfont {
              font-size: 5.1282vw;
              color: map-get($colors, "red_D0");
              margin-left: 2.5641vw;
            }
          }
          .text_location {
            display: flex;
            flex-direction: column;
            line-height: 5.1282vw;
            .location {
              display: flex;
              align-items: center;
            }
            .iconfont {
              font-size: 3.8462vw;
            }
          }
        }
      }
      > .div_oneImg {
        margin-left: 1.2821vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
// 底线
.dead_line {
  font-size: 3.0769vw;
  color: map-get($colors, "gray_9B");
  text-align: center;
  box-sizing: border-box;
  padding: 5.1282vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .mui-spinner {
    margin-right: 2.5641vw;
    width: 6.1538vw;
    height: 6.1538vw;
  }
}
// 数据为空
.data_not {
  font-size: 4.1026vw;
  color: map-get($colors, "gray_9B");
  text-align: center;
  box-sizing: border-box;
  padding: 15.3846vw 0;
  display: none;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > span {
      margin-bottom: 2.5641vw;
      font-size: 25.641vw;
      line-height: 25.641vw;
    }
  }
}
/* 重新定义下拉刷新的样式 */
[id^="refreshContainer"] {
  .mui-pull {
    font-weight: normal;
    bottom: 4.6154vw;
  }
  .mui-pull .mui-pull-caption {
    font-size: 3.0769vw;
    color: map-get($colors, "gray_9B");
  }
  .mui-pull .mui-icon {
    font-size: 5.1282vw;
  }
  .mui-pull-bottom-pocket {
    height: 15.3846vw;
  }
}
// 共用尾部
.footer_index {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15.3846vw;
  background-color: map-get($colors, "white");
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  border-top: 0.2564vw solid map-get($colors, "gray_f6");
  > .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    > .icon_pos {
      width: 6.1538vw;
      height: 6.1538vw;
      position: relative;
      > [class^="myicon-"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &[class$="B"] {
          transform: translate(-44%, -48%);
          display: none;
        }
        &[class$="G"] {
          display: inline-block;
        }
      }
    }
    > .text {
      font-size: 3.0769vw;
      color: map-get($colors, "gray_9B");
      line-height: 3.8462vw;
      margin-top: 1.2821vw;
    }
    &.active {
      > .icon_pos {
        width: 6.1538vw;
        height: 6.1538vw;
        position: relative;
        > [class^="myicon-"] {
          &[class$="B"] {
            display: inline-block;
          }
          &[class$="G"] {
            display: none;
          }
        }
      }
      > .text {
        color: map-get($colors, "blue_00");
      }
    }
  }
}
// 公用的头部
/* 导航栏 */
.nav_bar {
  height: 11.5385vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $paddingLR;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  .left_bar {
    display: block;
    position: relative;
    .iconfont.icon-icon_arrow_left {
      position: absolute;
      top: 50%;
      left: -2.0513vw;
      transform: translateY(-50%);
      width: 5.1282vw;
      font-size: 7.6923vw;
      color: map-get($colors, "gray_4A");
      line-height: 7.6923vw;
    }
  }
  .right_bar {
    display: block;
  }
  .center_cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: map-get($colors, "black");
    font-size: 4.1026vw;
  }
}

.features_agricultural {
  display: flex;
  flex-wrap: wrap;
  > .list {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-bottom: 0.2564vw solid map-get($colors, "gray_f6");
    border-right: 0.2564vw solid map-get($colors, "gray_f6");
    box-sizing: border-box;
    padding: 2.5641vw;
    &:nth-last-child(1),
    &:nth-child(odd):nth-last-child(2) {
      border-bottom: 0.0625rem solid map-get($colors, "white");
    }
    &:nth-child(even) {
      border-right: 0.0625rem solid map-get($colors, "white");
    }
    .div_img {
      width: 100%;
      height: 30.7692vw;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .price_title_tips {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }
    .title {
      font-size: 4.1026vw;
      color: map-get($colors, "black_28");
      margin-top: 2.5641vw;
      line-height: 5.641vw;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
    .tips {
      font-size: 3.0769vw;
      &.font_red {
        color: map-get($colors, "red_D0");
      }
      &.font_blue {
        color: map-get($colors, "blue_00");
      }
    }
    .price_weight {
      margin-top: 2.5641vw;
      display: flex;
      align-items: flex-end;
      .price {
        font-size: 4.1026vw;
        color: map-get($colors, "red_D0");
      }
      .line {
        font-size: 4.1026vw;
        color: map-get($colors, "gray_9B");
      }
      .weight {
        font-size: 3.0769vw;
        color: map-get($colors, "gray_9B");
      }
    }
  }
}

// 通用的商品列表
.shop_goods_lists {
  width: 100%;
  margin-top: 3.8462vw;
  box-sizing: border-box;
  padding: 0;
  .tabs_switch {
    padding: 0 3.8462vw;
    box-sizing: border-box;
  }
  .shop_lists_box {
    padding: 0 2.5641vw;
    box-sizing: border-box;
  }
  .shop_slide {
    width: 100%;
    position: relative;
    @include clearfix;
    margin-top: 3.8462vw;
    > .box {
      width: 50%;
      height: auto;
      box-sizing: border-box;
      padding: 1.2821vw;
      float: left;
      > .item {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: map-get($colors, "white");
        box-shadow: 0 0.7692vw 1.5385vw rgba(0, 0, 0, 0.05);
        border-radius: 1.2821vw;
        overflow: hidden;
        .div_img {
          width: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top-right-radius: 1.2821vw;
          border-top-left-radius: 1.2821vw;
          > img {
            width: 100%;
            object-fit: cover;
          }
        }
        .price_title_tips {
          box-sizing: border-box;
          padding: 3.3333vw 2.5641vw 4.1026vw 2.5641vw;
          display: flex;
          flex-direction: column;
        }
        .title_tips {
          margin-bottom: 2.5641vw;
          .title {
            font-size: 4.1026vw;
            color: map-get($colors, "black_28");
            line-height: 5.641vw;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
          }
        }
        .mark {
          display: flex;
          align-items: center;
        }
        .price_num_cart {
          display: flex;
          justify-content: space-between;
          > .price_num {
            position: relative;
            display: flex;
            align-items: center;
            .small_red {
              font-size: 3.0769vw;
              color: map-get($colors, "red_D0");
            }
            .big_red {
              font-size: 4.1026vw;
              color: map-get($colors, "red_D0");
            }
            .big_gray {
              font-size: 4.1026vw;
              color: map-get($colors, "gray_9B");
            }
            .small_gray {
              font-size: 3.0769vw;
              color: map-get($colors, "gray_9B");
              text-decoration: line-through;
              margin-left: 1.2821vw;
            }
          }
          > .shop_cart_btn {
            width: 6.1538vw;
            height: 6.1538vw;
            border-radius: 50%;
            background-image: linear-gradient(#27d5ff, #0091ff);
            display: flex;
            align-items: center;
            justify-content: center;
            .iconfont {
              font-size: 4.1026vw;
              color: map-get($colors, "white");
            }
          }
        }
        .add_cut_btn {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 1.2821vw;
          display: none;
          .add,
          .cut {
            width: 3.8462vw;
            height: 3.8462vw;
            border-radius: 0.7692vw;
            display: flex;
            align-items: center;
            justify-content: center;
            .iconfont {
              font-size: 2.5641vw;
              color: map-get($colors, "black");
            }
          }
          .add {
            background-color: map-get($colors, "blue_00");
            .iconfont {
              color: map-get($colors, "white");
            }
          }
          .cut {
            border: 0.2564vw solid map-get($colors, "blue_00");
          }
          .num {
            font-size: 3.0769vw;
            box-sizing: border-box;
            padding: 0 1.2821vw;
            min-width: 10.2564vw;
            text-align: center;
          }
        }
      }
    }
  }
}
// 商品列表加载中
.loading_data {
  font-size: 4.1026vw;
  color: map-get($colors, "gray_9B");
  text-align: center;
  box-sizing: border-box;
  padding: 15.3846vw 0;
  display: none;
  > span {
    width: 12.8205vw;
    height: 12.8205vw;
    margin-bottom: 2.5641vw;
  }
}
// 切换卡片
.tabs_switch {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
  .tab {
    box-sizing: border-box;
    padding: 0 1.2821vw;
    display: inline-block;
    width: auto;
    height: 100%;
    line-height: 9.4872vw;
    position: relative;
    cursor: pointer;
    > p {
      font-size: 3.5897vw;
      color: map-get($colors, "black");
    }
    .line {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: map-get($colors, "blue_00");
      height: 0.7692vw;
      width: 100%;
      box-shadow: 0 0.7692vw 1.5385vw rgba(39, 213, 255, 0.4);
      display: none;
    }
    &.active {
      font-size: 4.1026vw;
      font-weight: bold;
      color: map-get($colors, "black");
      .line {
        display: block;
      }
    }
  }
}
