@charset "utf-8";
@import "_color";
$paddingLR: 3.8462vw;

body {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  background-color: map-get($colors, "gray_f6");
  box-sizing: border-box;
  padding-top: 11.5385vw;
}
// 头部
.nav_bar {
  background-color: transparent;
  border-bottom: 0.2564vw solid transparent;
  .left_bar {
    .iconfont {
      color: map-get($colors, "white") !important;
    }
  }
  .center_cnt {
    display: none;
  }
  &.fixed {
    border-bottom: 0.2564vw solid map-get($colors, "gray_f6");
    background-color: map-get($colors, "white");
    .center_cnt {
      display: block;
    }
    .left_bar {
      .iconfont {
        color: map-get($colors, "gray_4A") !important;
      }
    }
  }
}
// 内容块
.cnt_chunk {
  width: 100%;
  box-sizing: border-box;
  padding: 0 $paddingLR;
  .financial_recommended {
    margin-top: 30.7692vw;
    box-sizing: border-box;
    padding: 5.1282vw $paddingLR $paddingLR $paddingLR;
    .financial {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text_img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        .texts {
          > p {
            font-size: 4.1026vw;
            color: map-get($colors, "gray_4A");
            font-weight: bold;
            line-height: 6.1538vw;
          }
          > span {
            display: block;
            font-size: 3.5897vw;
            color: map-get($colors, "black_28");
            margin-top: 1.0256vw;
          }
        }
        .pic {
          width: 12.8205vw;
          height: 12.8205vw;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .title_link_imgs {
      margin-top: 6.4103vw;
      > .title {
        font-size: 3.5897vw;
        font-weight: bold;
        color: map-get($colors, "black_28");
        text-align: center;
      }
      > .link_imgs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3.0769vw;
        .pic {
          width: 32%;
          height: 16.4103vw;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-radius: 1.2821vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.2821vw;
          }
          [class^="myicon-"] {
            position: absolute;
            top: -0.7692vw;
            left: -0.2564vw;
          }
        }
      }
    }
  }
  .large_card {
    box-sizing: border-box;
    padding: 3.8462vw 0;
    margin-top: 3.8462vw;
    > .cards {
      box-sizing: border-box;
      padding: 0 3.8462vw;
      width: 100%;
      display: block;
      > img {
        width: 100%;
      }
    }
  }
  .loan_list {
    display: block;
    margin-top: 3.8462vw;
    > .pic {
      width: 100%;
      height: 55.3846vw;
      border-top-left-radius: 1.2821vw;
      border-top-right-radius: 1.2821vw;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 1.2821vw;
        border-top-right-radius: 1.2821vw;
      }
    }
    > .texts_progress {
      box-sizing: border-box;
      padding: 3.8462vw 5.1282vw;
      > .title {
        font-size: 5.3846vw;
        color: map-get($colors, "black_28");
      }
      > .amount_type {
        display: flex;
        align-items: center;
        color: map-get($colors, "gray_99");
        > div:nth-child(1) {
          font-size: 4.1026vw;
          margin-right: 5.1282vw;
          > span {
            font-size: 4.6154vw;
            color: map-get($colors, "orange_F5");
            display: inline-block;
            padding: 0 1.2821vw;
          }
        }
        > div:nth-child(2) {
          font-size: 3.0769vw;
        }
      }
      > .earnings_date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5641vw;
        > div {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .nums {
            font-size: 4.1026vw;
            color: map-get($colors, "gray_99");
            > span {
              color: map-get($colors, "orange_F5");
              font-size: 8.2051vw;
            }
          }
          .text {
            font-size: 4.1026vw;
            color: map-get($colors, "gray_99");
          }
        }
      }
      > .progress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > .line_parent {
          flex: 1;
          background-color: map-get($colors, "gray_d8");
          height: 2.0513vw;
          border-radius: 2.0513vw;
          position: relative;
          > .line_child {
            position: absolute;
            top: 0;
            left: 0;
            height: 2.0513vw;
            border-radius: 2.0513vw;
            background-color: map-get($colors, "orange_F5");
          }
        }
        > span {
          margin-left: 5.1282vw;
          font-size: 4.1026vw;
          color: map-get($colors, "gray_99");
        }
      }
    }
  }
}
