@charset "utf-8";
@import "_color";
$paddingLR: 3.8462vw;

.countryside_body {
  background-color: map-get($colors, "body_bg");
  background-image: url(../images/bg_imgs/countryside_top_bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  box-sizing: border-box;
  padding-bottom: 15.3846vw;
}
// 搜索框
.countryside_search {
  box-sizing: border-box;
  padding: $paddingLR $paddingLR 2.5641vw $paddingLR;
  position: sticky;
  top: 0;
  z-index: 9;
  &.fixed {
    background-image: linear-gradient(#5ecefc, #84d8fb);
  }
}
// 内容块
.cnt_chunk {
  width: 100%;
  box-sizing: border-box;
  padding: 0 $paddingLR;
  padding-top: 1.2821vw;
  > .pic_card {
    margin-top: 3.8462vw;
  }
  .titleCnt_card {
    &:nth-child(2) {
      margin-top: 1.2821vw;
      background-image: linear-gradient(#fef2eb, #ffffff);
      .iconFlex_card {
        > .list {
          width: 25%;
          &:nth-child(-n + 4) {
            margin-top: 0;
          }
          .layout {
            height: 21.5385vw;
            .img_or_icon {
              height: 15.3846vw;
              img {
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    &:nth-child(3) {
      background-image: linear-gradient(#fffef4, #ffffff);
      .iconFlex_card {
        > .list {
          width: 33.33%;
          &:nth-child(-n + 3) {
            margin-top: 0;
          }
          .layout {
            height: 28.2051vw;
            .img_or_icon {
              height: 20.5128vw;
              img {
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .text {
            font-size: 4.1026vw;
            color: map-get($colors, "red_D0");
            > .small {
              font-size: 3.0769vw;
            }
          }
        }
      }
    }
  }
}
// 轮播
.shop_swiper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 7.1795vw;
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.3333vw;
    border-radius: 1.2821vw;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.2821vw;
    }
  }
  .swiper-pagination {
    bottom: 1.2821vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    .swiper-pagination-bullet {
      width: 2.0513vw;
      height: 2.0513vw;
      margin: 0 0.7692vw;
    }
    .swiper-pagination-bullet-active {
      background-color: map-get($colors, "blue_00");
    }
  }
}
