@charset "utf-8";
@import "_color";
$paddingLR: 3.8462vw;
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  padding-top: 11.5385vw;
  position: relative;
  background-color: map-get($colors, "gray_f6");
}
.nav_bar {
  background-color: map-get($colors, "white");
  .right_bar {
    display: block;
    width: 6.1538vw;
    height: 6.1538vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconfont {
      font-size: 6.1538vw;
      color: map-get($colors, "gray_75");
    }
  }
  .center_cnt {
    height: 100%;
    width: 80%;
    .tab {
      line-height: 10.7692vw;
      > p {
        font-size: 4.1026vw;
        color: map-get($colors, "black_28");
      }
      &.active {
        font-weight: normal;
        > p {
          color: map-get($colors, "black_28");
        }
        .line {
          display: block;
        }
      }
    }
  }
}
// 内容
.mui-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: map-get($colors, "gray_f6");
}
.data_not {
  background-color: map-get($colors, "gray_f6");
}
// 图片文字列表
.text_img_lists {
  box-sizing: border-box;
  padding-top: 2.5641vw;
  background-color: map-get($colors, "gray_f6");
  .video_and_pic{
    width: 100%;
    margin-bottom: 1.2821vw !important;
  }
  .imgs_top_bg{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 51.2821vw;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .myicon-pladyBtn{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      cursor: pointer;
    }
  }
  .video_play{
    width: 100%;
    height: 51.2821vw;
    display: none;
    video{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .imgs_top {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2821vw !important;
    position: relative;
    > img {
      width: 33%;
      height: 24.8718vw;
      object-fit: cover;
    }
    > .one_big_img {
      width: 100%;
      height: 46.1538vw;
      object-fit: cover;
    }
    .myicon-zhiboTips{
      color: map-get($colors, "white");
      font-size: 3.0769vw;
      position: absolute;
      top: 0;
      left: 2.5641vw;
      text-align: center;
    }
  }
  > .list {
    display: block;
    margin-top: 2.5641vw;
    background-color: map-get($colors, "white");
    &:first-child {
      margin-top: 0;
    }
  }
  .div_oneImg {
    width: 30.7692vw;
    height: 24.8718vw;
    margin-left: 0 !important;
  }
  .div_text {
    box-sizing: border-box;
    padding: 1.2821vw 2.5641vw;
  }
}
