@charset "utf-8";
@import "_color";
$paddingLR: 3.8462vw;
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  padding-top: 11.5385vw;
  position: relative;
  background-color: map-get($colors, "white");
}
.nav_bar {
  background-color: map-get($colors, "white");
  border-bottom: 0.2564vw solid map-get($colors, "gray_f6");
  .center_cnt {
    height: 100%;
    width: 60%;
    .tab {
      line-height: 10.7692vw;
      > p {
        font-size: 4.1026vw;
        color: map-get($colors, "black_28");
      }
      .line {
        background-color: map-get($colors, "orange_fb");
        box-shadow: 0 0.2564vw 0.5128vw map-get($colors, "orange_fb");
      }
      &.active {
        font-weight: normal;
        > p {
          color: map-get($colors, "black_28");
        }
        .line {
          display: block;
        }
      }
    }
  }
}
// 内容
.mui-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: map-get($colors, "gray_f6");
  .village_line {
    width: 100%;
    height: 2.5641vw;
    background-color: map-get($colors, "gray_f6");
  }
  .search_inp {
    display: flex;
    align-items: center;
    background-color: map-get($colors, "gray_f6");
    box-sizing: border-box;
    padding: 3.0769vw 3.8462vw;
    .iconfont {
      font-size: 5.1282vw;
      color: map-get($colors, "gray_4A");
    }
    input {
      margin: 0;
      padding: 0;
      border: none;
      height: 6.1538vw;
      font-size: 3.5897vw;
      color: map-get($colors, "black_28");
      margin-left: 2.5641vw;
      background-color: map-get($colors, "gray_f6");
      &::placeholder {
        color: map-get($colors, "gray_9B");
      }
    }
  }
  .top_text {
    font-size: 3.5897vw;
    color: map-get($colors, "gray_9B");
  }
  .aready_village {
    background-color: map-get($colors, "white");
    box-sizing: border-box;
    padding: 3.0769vw 3.8462vw;
  }
  .recommend_village {
    background-color: map-get($colors, "white");
    box-sizing: border-box;
    padding-top: 3.0769vw;
    .top_text {
      box-sizing: border-box;
      padding: 0 3.8462vw;
    }
  }
  .village_lists {
    .data_not {
      background-color: map-get($colors, "white");
    }
    > .list {
      box-sizing: border-box;
      padding: 2.5641vw 3.8462vw;
      border-bottom: 0.2564vw solid map-get($colors, "gray_f6");
      display: flex;
      align-items: center;
      justify-content: space-between;
      > .img_text {
        display: flex;
        align-items: center;
        flex: 1;
        > img {
          width: 15.3846vw;
          height: 15.3846vw;
          margin-right: 2.5641vw;
        }
        .texts {
          font-size: 3.0769vw;
          color: map-get($colors, "gray_4A");
          flex: 1;
          width: 0;
          .title {
            font-size: 4.1026vw;
            color: map-get($colors, "black");
          }
          .nums {
            display: flex;
            align-items: center;
            > span:first-child {
              margin-right: 5.1282vw;
            }
          }
        }
      }
      > .focus_not,
      > .focus_yes {
        border: none;
        height: 7.6923vw;
        width: 16.6667vw;
        box-sizing: border-box;
        padding: 0 2.5641vw;
        font-size: 3.5897vw;
        border-radius: 1.2821vw;
        line-height: 7.1795vw;
        cursor: pointer;
        background-color: map-get($colors, "white");
        border: 0.2564vw solid map-get($colors, "gray_4A");
        color: map-get($colors, "gray_4A");
        margin-left: 3.8462vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .mui-spinner {
          width: 3.8462vw;
          height: 3.8462vw;
        }
      }
      > .focus_not {
        background-color: map-get($colors, "gray_d8");
      }
    }
  }
}
// 列表横向滚动
.div_scroll {
  width: 100%;
  box-sizing: border-box;
  padding: 2.5641vw 0;
  &.swiper-container {
    width: 100%;
  }
  .swiper-slide {
    margin-left: 1.2821vw;
    flex-shrink: 0;
    text-align: center;
    max-width: 18.4615vw;
    display: block;
    img {
      width: 15.3846vw;
      height: 15.3846vw;
    }
    p {
      font-size: 3.0769vw;
      color: map-get($colors, "gray_4A");
      line-height: 4.6154vw;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
