@charset "utf-8";
@import "color";

.index_body {
  background-color: map-get($colors, "body_bg");
  background-image: url(../images/bg_imgs/index_top_bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
}
// 搜索框
.index_search {
  margin-top: 3.5897vw;
  height: 9.2308vw;
  box-sizing: border-box;
  padding: 0 3.8462vw;
}
// 定位于时间
.position_time {
  width: 100%;
  height: 800px;
  background-color: red;
}
