<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
    <footer class="zzzs_foot_switch">
        <a href="javascript:location.replace('./task.html');" class="list active">
            <div class="icon_pos">
                <span class="iconfont icon-renwu"></span>
            </div>
            <div class="text">任务</div>
        </a>
        <a href="javascript:location.replace('./warning.html');" class="list">
            <div class="icon_pos">
                <span class="iconfont icon-yujingzongshu"></span>
            </div>
            <div class="text">预警</div>
        </a>
        <a href="javascript:location.replace('./homework.html');" class="list">
            <div class="icon_pos">
                <span class="iconfont icon-zuoye"></span>
            </div>
            <div class="text">作业</div>
        </a>
    </footer>
</body>

</html>