<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
    <footer class="footer_index">
        <div onclick="openWindow({url:'../index/index.html',id:'index'})" class="list active">
            <div class="icon_pos">
                <span class="myicon-footerShouyeB"></span>
                <span class="myicon-footerShouyeG"></span>
            </div>
            <div class="text">首页</div>
        </div>
        <div onclick="openWindow({url:'../countryside/countryside.html',id:'countryside'})" class="list">
            <div class="icon_pos">
                <span class="myicon-footerXinnongcunB"></span>
                <span class="myicon-footerXinnongcunG"></span>
            </div>
            <div class="text">新农村</div>
        </div>
        <div onclick="openWindow({url:'../shop/shop.html',id:'shop'})" class="list">
            <div class="icon_pos">
                <span class="myicon-footerNongpinhuiB"></span>
                <span class="myicon-footerNongpinhuiG"></span>
            </div>
            <div class="text">农品会</div>
        </div>
        <div onclick="openWindow({url:'../personal/personal.html',id:'personal'})" class="list">
            <div class="icon_pos">
                <span class="myicon-footerWpdeB"></span>
                <span class="myicon-footerWpdeG"></span>
            </div>
            <div class="text">我的</div>
        </div>
    </footer>
</body>

</html>