<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
    <div class="nav_bar">
        <div onclick="history.back()" class="left_bar">
            <span class="iconfont icon-icon_arrow_left"></span>
        </div>
        <div class="center_cnt tabs_switch" id="tabSwitch">
            <div onclick="location.replace('./myVillage_recommend.html')" class="tab">
                <p>关注</p>
                <div class="line"></div>
            </div>
            <div onclick="location.replace('./myVillage_bazaar.html')" class="tab">
                <p>集市</p>
                <div class="line"></div>
            </div>
            <div onclick="location.replace('./myVillage_life.html')" class="tab">
                <p>生活</p>
                <div class="line"></div>
            </div>
            <div onclick="location.replace('./myVillage_village.html')" class="tab">
                <p>村子</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</body>

</html>